{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block breadcrumbs %}
	<li>Transaction</li>
	<li>Create new GroupField</li>
{% endblock %}

{% block extra_style %}
	<style type="text/css">
		.form-horizontal .control-label{text-align: left}
		.multiple-select {width: 250px; line-height: 1.5cm; padding: 3px;}
		#demo fieldset div {float: left; width: 30%; clear: none;}
		#demo fieldset a {text-decoration: none; font-weight: bold;}
		.page-header{margin: 0 0 20px}
		.page-header h1{margin-left: 0px}
		#demo input{width: 80%}
	</style>
{% endblock %}

{% block content %}
	<div class="row">
		<form class="form-horizontal" method="post" name="form1" id="demo" action="{% url 'create_groupfield' %}">
			<div class="col-xs-12">
				<div class="page-header">
					<h1>Create new GroupField</h1>
				</div>
				<div class="col-xs-8">
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">GroupField name: <span class="red">*</span>:</label>
						<div class="col-sm-9">
							<input placeholder="GroupField name" size="10" name="groupfield_name" type="text">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right">Add Field:</label>
						<div class="col-sm-10">
							<div style="float: left">
								<select style="height: 150px; width: 200px" name="selectfrom" id="select-from" multiple="multiple" size="6" class="multiple-select">
									{% for field in field_list %}
										<option value="{{field.id}}" name="{{field.id}}">{{field.label}}</option>
									{% endfor %}
								</select>
							</div>
							<div style="float: left;height: 170px; width: 120px">
								<center>
									<a title="Add" style="padding:2px; width: 90px; margin-left: 2px; font-size: 12px" class="btn btn-success" href="javascript:void(0);" id="btn-add"><span><i class="glyphicon glyphicon-arrow-right"></i></span></a>
									<br>
									<a title="Remove" style="padding:2px; width: 90px; margin-top: 11px; font-size: 12px" class="btn btn-danger" href="javascript:void(0);" id="btn-remove"><span><i class="glyphicon glyphicon-arrow-left"></i></span></a>
									<br>
									<a title="Move Up" style="padding:2px; width: 90px; margin-top: 11px; font-size: 12px; padding-top: 4px; padding-bottom: 4px" class="btn btn-white" id="btn-up"><span><i class="glyphicon glyphicon-arrow-up"></i></span></a>
									<br>
									<a title="Move Down" style="padding:2px; width: 90px; margin-top: 11px; font-size: 12px; padding-top: 4px; padding-bottom: 4px" class="btn btn-white" id="btn-down"><span><i class="glyphicon glyphicon-arrow-down"></i></span></a>
								</center>
							</div>
							<div style="float: left;">
								<select style="height: 150px; width: 200px" name="selectto" id="select-to" multiple="multiple" size="6" class="multiple-select">
								{% for field in selected_field_list %}
								<option value="{{field.id}}" name="{{field.id}}">{{field.label}}</option>
								{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix form-actions" style="float:left; width: 100%">
					<div class="">
						<button type="submit" onclick="selectAll();" class="btn btn-info button-submit" type="button">
							<i class="icon-ok bigger-110"></i>
							Submit
						</button>

						&nbsp; &nbsp; &nbsp;
						<button class="btn" type="reset">
							<i class="icon-undo bigger-110"></i>
							Reset
						</button>

						&nbsp; &nbsp; &nbsp;
						<span class="loading-span" style="font-size: 14px; display: none"><img width="30px" src="{% static 'bootstrap/images/loading.gif' %}"> Please wait...</span>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}

{% block extra_script %}
	<script>
		var arrSelected = [];
		{% for field in selected_field_list %}
			arrSelected.push({
				'name': '{{field.label}}',
				'value': {{field.id}},
				'selected': false
			});
		{% endfor %}
	</script>
	<script src="{% static "bootstrap/js/add_field_to_groupfield.js" %}"></script>
{% endblock %}