{% extends "base.html" %}
{% load staticfiles %}
{% load url from future %}

{% block breadcrumbs %}
	<li>Processing</li>
	<li>Update data</li>
{% endblock %}

{% block extra_style %}
	<style type="text/css">
		.form-horizontal .control-label{text-align: left}
		#demo fieldset div {float: left; width: 30%; clear: none;}
		#demo fieldset a {text-decoration: none; font-weight: bold;}
		.page-header{margin: 0 0 20px}
		.page-header h1{margin-left: 0px}
		#demo input{width: 50%}
		#demo textarea{width: 100%}
	</style>
	{% if request.path == "/processing/input_data" %}
		<style>
			.main-content{margin-left: 0px!important}
			.thumbnail {border: none; margin-bottom: 0px}
		</style>
	{% endif %}
{% endblock %}
{% block content %}
	{% if fileupload_note %}
		<div class="alert fade in alert-info">
			<i class="glyphicon glyphicon-info-sign blue"></i> NOTE: {{ fileupload_note }}
		</div>
	{% endif %}
	<div class="row">
		<div class="col-md-12" style="padding:0px">
			<div class="col-md-6">
				<div class="col-md-12 block-show-loading" style="padding: 0px; border: thin solid #a9a9a9; min-height: 600px; background-color: #ddd">
					<center style="margin-top: 20px"><span class="loading-span" style="font-size: 14px; display: block;"><img width="30px" src="{% static 'bootstrap/images/loading.gif' %}"> Please wait...</span></center>
				</div>
				<div class="col-md-12 block-show-tiff" style="padding: 0px; display: none">
					<div class="col-md-12" style="border: thin solid #a9a9a9; padding: 0px">
						<div class="thumbnail" style="padding-top: 30px; padding-bottom: 30px; background-color: #ddd"><img id="file-tiff" src=""></div>
					</div>
					<div class="col-md-12" style="margin-top: 10px; padding: 0px">
						<label class="btn btn-xs btn-yellow page-index" style="margin-top: 10px"></label>
						<div style="float:right;"><button class="btn btn-yellow" id="next">Next <i style="margin-left: 5px" class="glyphicon glyphicon-arrow-right"></i></button></div>
						<div style="float:right; margin-right: 10px"><button class="btn btn-yellow" id="prev"><i style="margin-right: 5px" class="glyphicon glyphicon-arrow-left"></i> Prev</button></div>
						<div style="float:right; margin-right: 10px"><button class="btn btn-danger" id="process-file"><i class="glyphicon glyphicon-plane" style="margin-right: 5px"></i> Process</button></div>
						<div id="processed-file" style="float:right; margin-right: 10px; margin-top: 11px; font-size: 14px; display: none"><i class="glyphicon glyphicon-ok green" style="margin-right: 5px"></i> Processed</div>
						<div style="float:right; margin-right: 10px; margin-top: 8px"><span class="loading-process-span" style="font-size: 14px; display: none"><img width="30px" src="{% static 'bootstrap/images/loading.gif' %}"> Please wait...</span></div>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div>
					<form id="demo" class="form-horizontal" method="post" action="{% url 'save_data' %}">
						<input type="hidden" name="fileupload_id" value="{{fileupload_id}}">
						<input type="hidden" name="form_id" value="{{form_id}}">
						<input type="hidden" name="page_index" value="">
						{% ifequal groupfield_index|add:"0" 0 %}
							<div>
								<input style="font-size: 14px" type="hidden" name="groupfield_id" value="{{groupfield_id}}">
								<table style="width: 100%; float: left;" id="groupfield_items">
									<tr>
										{%for field in groupfield_fields%}
											<th style="padding: 5px">{{field.label}}</th>
										{% endfor %}
										<th></th>
									</tr>
									<tr>
										{% for field in groupfield_fields%}
										<td style="padding: 5px">
											<input style="width: 100%; font-size: 14px" name="groupfielditem_0_{{field.index}}" type="{{field.fieldtype}}">
										</td>
										{% endfor %}
									</tr>
								</table>
							</div>
							<div style="margin-right: 5px; margin-top: 5px; float: right">
								<a href="#" id="addItem"><i class="icon-plus"></i> Add Another Row</a>
							</div>
						{% endifequal %}
						{% for formfield in form_fields %}
							{% ifequal formfield.index|add:"0" groupfield_index|add:"1" %}
								{% ifequal groupfield_index|add:"0" -1 %}
									<div>
										<div class="col-xs-12" style="padding: 5px">
											<div class="form-group" style="margin-bottom: 0px">
												<label class="col-sm-2 control-label no-padding-right">{{formfield.label}}</label>
												<div class="col-sm-9">
													<input placeholder="{{formfield.label}}.." style="width: 60%; font-size: 14px" type="{{formfield.fieldtype}}" name="formfield_{{formfield.index}}">
												</div>
											</div>
										</div>
									</div>
								{% else %}
									{% ifequal groupfield_index|add:"0" 0 %}
									<div>
										<div class="col-xs-12" style="padding: 5px">
											<div class="form-group" style="margin-bottom: 0px">
												<label class="col-sm-2 control-label no-padding-right">{{formfield.label}}</label>
												<div class="col-sm-9">
													<input placeholder="{{formfield.label}}.." style="width: 60%; font-size: 14px" type="{{formfield.fieldtype}}" name="formfield_{{formfield.index}}">
												</div>
											</div>
										</div>
									</div>									
									{% else %}
									<div>
									<input style="font-size: 14px" type="hidden" name="groupfield_id" value="{{groupfield_id}}">
									<table style="width: 100%; float: left" id="groupfield_items">
										<tr>
											{%for field in groupfield_fields%}
												<th style="padding: 5px">{{field.label}}</th>
											{% endfor %}
											<th></th>
										</tr>
										<tr>
											{%for field in groupfield_fields%}
											<td style="padding: 5px">
												<input style="width: 100%; font-size: 14px" name="groupfielditem_0_{{field.index}}" type="{{field.fieldtype}}">
											</td>
											{% endfor %}
										</tr>
									</table>
									</div>
									<div style="margin-right: 5px; margin-top: 5px; float: right">
										<a href="#" id="addItem"><i class="icon-plus"></i> Add Another Row</a>
									</div>
									<div>
										<div class="col-xs-12" style="padding: 5px">
											<div class="form-group" style="margin-bottom: 0px">
												<label class="col-sm-2 control-label no-padding-right">{{formfield.label}}</label>
												<div class="col-sm-9">
													<input placeholder="{{formfield.label}}.." style="width: 60%; font-size: 14px" type="{{formfield.fieldtype}}" name="formfield_{{formfield.index}}">
												</div>
											</div>
										</div>
									</div>
									{% endifequal %}
								{% endifequal %}
							{% else %}
								<div>
									<div class="col-xs-12" style="padding: 5px">
										<div class="form-group" style="margin-bottom: 0px">
											<label class="col-sm-2 control-label no-padding-right">{{formfield.label}}</label>
											<div class="col-sm-9">
												<input placeholder="{{formfield.label}}.." style="width: 60%; font-size: 14px" type="{{formfield.fieldtype}}" name="formfield_{{formfield.index}}">
											</div>
										</div>
									</div>
								</div>
								
								{% ifequal formfield.index|add:"1" form_fields|length %}						
									{% ifequal groupfield_index|add:"0" form_fields|length %}
										<div>
											<input style="font-size: 14px" type="hidden" name="groupfield_id" value="{{groupfield_id}}">
											<table style="width: 100%; float: left;" id="groupfield_items">
												<tr>
													{%for field in groupfield_fields%}
														<th style="padding: 5px">{{field.label}}</th>
													{% endfor %}
													<th></th>
												</tr>
												<tr>
													{% for field in groupfield_fields%}
													<td style="padding: 5px">
														<input style="width: 100%; font-size: 14px" name="groupfielditem_0_{{field.index}}" type="{{field.fieldtype}}">
													</td>
													{% endfor %}
												</tr>
											</table>
										</div>
										<div style="margin-right: 5px; margin-top: 5px; float: right">
											<a href="#" id="addItem"><i class="icon-plus"></i> Add Another Row</a>
										</div>
									{% endifequal %}						
								{% endifequal %}
							{% endifequal %}
						{% endfor %}

						<div class="clearfix form-actions" style="float:left; width: 100%">
							<div class="">
								<button type="submit" class="btn btn-info button-submit" type="button" disabled="true">
									<i class="icon-ok bigger-110"></i>
									Submit
								</button>

								&nbsp; &nbsp; &nbsp;
								<button class="btn" type="reset">
									<i class="icon-undo bigger-110"></i>
									Reset
								</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

{% endblock %}

{% block extra_script %}
	
	<script>
		var listTiffFile = [], currentIndex = 0, lengthListTiff = 0, fileupload_id = {{ fileupload_id }};
		var btnNext = $("#next"),
			btnPrev = $("#prev"),
			btnProcess = $("#process-file"),
			btnProcessed = $("#processed-file"),
			btnSubmit = $(".button-submit"),

			fileTiff = $("#file-tiff"),
			blockShowTiff = $(".block-show-tiff"),
			blockShowLoading = $(".block-show-loading"),
			blockShowLoadingProcess = $(".loading-process-span"),
			page_index_hidden = $("input[name='page_index']");
		page_index_hidden.val(currentIndex);

		{% for file in tiff_files %}
			var tiffFileObject = {}
			tiffFileObject["status"] = {{ file.status }};
			tiffFileObject["path"] = '{{ file.path }}';
			tiffFileObject["page_index"] = {{ file.page_index }};
			tiffFileObject["id"] = {{ file.id }};
			tiffFileObject["name"] = '{{ file.name }}';
			listTiffFile.push(tiffFileObject);
		{% endfor %}

		lengthListTiff = listTiffFile.length;

		fileTiff.attr("src", listTiffFile[currentIndex]["path"]);
		if (lengthListTiff == 1){
			btnPrev.attr("disabled", true);
			btnNext.attr("disabled", true);
		}

		if (listTiffFile[currentIndex]["status"]){
			btnProcess.hide();
			btnProcessed.show();
		}

		setTimeout(function(){
			blockShowTiff.show();
			blockShowLoading.hide();
			btnSubmit.removeAttr("disabled");
			$(".page-index").html("Page: "+(parseInt(currentIndex)+parseInt(1))+" / "+listTiffFile.length);
		}, 1500);

		btnNext.click(function(){
			currentIndex ++;
			if (lengthListTiff == currentIndex){
				currentIndex = 0;
			}
			fileTiff.attr("src", listTiffFile[currentIndex]["path"]);
			if (listTiffFile[currentIndex]["status"]){
				btnProcess.hide();
				btnProcessed.show();
			}else{
				btnProcess.show();
				btnProcessed.hide();
			}
			page_index_hidden.val(currentIndex);
			$(".page-index").html("Page: "+(parseInt(currentIndex)+parseInt(1))+" / "+listTiffFile.length);
			return false;
		});

		btnPrev.click(function(){
			currentIndex --;
			if (currentIndex < 0){
				currentIndex = lengthListTiff - 1
			}
			fileTiff.attr("src", listTiffFile[currentIndex]["path"]);
			if (listTiffFile[currentIndex]["status"]){
				btnProcess.hide();
				btnProcessed.show();
			}else{
				btnProcess.show();
				btnProcessed.hide();
			}
			page_index_hidden.val(currentIndex);
			$(".page-index").html("Page: "+(parseInt(currentIndex)+parseInt(1))+" / "+listTiffFile.length);
			return false;
		});

		btnProcess.click(function(){
			if (fileupload_id && !listTiffFile[currentIndex]["status"]){
				var tiff_file_id = listTiffFile[currentIndex]["id"];

				btnNext.attr("disabled", true);
				btnPrev.attr("disabled", true);
				btnProcess.attr("disabled", true);
				btnSubmit.attr("disabled", true);
				blockShowLoadingProcess.show();
				$.ajax({
					url: "update_status_tiff",
					type: "POST",
					data: {
						"fileupload_id": fileupload_id,
						"tiff_file_id": tiff_file_id
					},
					beforeSend: function(xhr, settings){
						if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
							xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
						}
					},
					success: function (data) {
						//alert("SUCCESS: FileTiff has been updated successly!");
						$("#demo").submit();
{#						blockShowLoadingProcess.hide();#}
{#						btnNext.removeAttr("disabled");#}
{#						btnPrev.removeAttr("disabled");#}
{#						btnSubmit.removeAttr("disabled");#}
{#						btnProcess.removeAttr("disabled");#}
{##}
{#						btnProcess.hide();#}
{#						btnProcessed.show();#}
{##}
{#						listTiffFile[currentIndex]["status"] = 1#}
					},
					error: function (request, error) {
						alert("ERROR: Can't proccess file. Please try again");
						blockShowLoadingProcess.hide();
						btnNext.removeAttr("disabled");
						btnPrev.removeAttr("disabled");
						btnProcess.removeAttr("disabled");
						btnSubmit.removeAttr("disabled");
					},
				});
			}else{
				alert("ERROR: Can't process file. Please try again");
			}
			return false;
		})

	</script>
	
	<script type="text/javascript">//add/remove group fields
		$(window).load(function(){
			$(function() {
				var scntDiv = $('#groupfield_items');
				var i = $('#groupfield_items tr').size() + 1;
				var j = 1;
				$('body').on('click', '#addItem', function() {
						$('<tr>' +
						{% for field in groupfield_fields %}
							'<td style="padding: 5px"><input style="width: 100%" name="groupfielditem_'+j+'_{{field.index}}" type="{{field.fieldtype}}"></td>'+
						{% endfor %}
							'<td><a href="#" id="remItem"><i class="icon-remove"></i> Remove</a></td>'+
						'</tr>').appendTo(scntDiv);
						i++;
						j++;
						return false;
				});

				$('body').on('click', '#remItem', function(){
					if( i > 2 ) {
						$(this).parents('tr').remove();
						i--;
					}
					return false;
				});
			});
		});
	</script>
{% endblock %}