{% extends "account/base.html" %}

{% load i18n %}

{% block breadcrumbs %}
	<li>My account</li>
	<li>Change password</li>
{% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
	<style>
		.form-horizontal .control-label{text-align: left}
		.page-header{margin: 0 0 20px}
		.page-header h1{margin-left: 0px}
		.password_change input{width: 100%}
		.password_change textarea{padding:5px; height: 114px; width: 100%}
		.password_change .red{color: red!important}
		.password_change ul.errorlist{
			list-style: none;
			padding-left: 10px;
			background-color: pink;
			border: thin solid red;
			margin: 5px 15px 10px 15px;
		}
	</style>
	<div class="row">
		<div class="col-xs-12">
			<div class="col-xs-6">
				<div class="page-header">
					<h1>Change password</h1>
				</div>
				<form method="POST" action="{% url 'account_change_password' %}" class="form-horizontal password_change">
					{% csrf_token %}
					<div class="form-group">
						{{ form.oldpassword.errors }}
						<label class="col-sm-3 control-label no-padding-right">Current Password <span class="red">*</span>:</label>
						<div class="col-sm-9">
							{{ form.oldpassword }}
						</div>
					</div>
					<div class="form-group">
						{{ form.password1.errors }}
						<label class="col-sm-3 control-label no-padding-right">New Password <span class="red">*</span>:</label>
						<div class="col-sm-9">
							{{ form.password1 }}
						</div>
					</div>
					<div class="form-group">
						{{ form.password2.errors }}
						<label class="col-sm-3 control-label no-padding-right">New Password (again)<span class="red">*</span>:</label>
						<div class="col-sm-9">
							{{ form.password2 }}
						</div>
					</div>
					<div class="clearfix form-actions" style="float:left; width: 100%">
						<div class="">
							<button type="submit" class="btn btn-info" type="button">
								<i class="icon-ok bigger-110"></i>
								Submit
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="icon-undo bigger-110"></i>
								Reset
							</button>
						</div>
					</div>
{#					{{ form.as_p }}#}
{#					<button c type="submit" name="action">{% trans "Change Password" %}</button>#}
				</form>
			</div>
		</div>
	</div>
{% endblock %}
